body {
  font-family: "Roboto", sans-serif;
  background: rgba(225, 255, 213, 0.815);
  color: black;
  background-image: linear-gradient(
    181.2deg,
    rgba(245, 245, 245, 1) 48.8%,
    rgba(214, 230, 242, 1) 72.3%
  );
}
body::-webkit-scrollbar {
  width: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.header {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-nav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.nav-link {
  color: #303841;
  text-decoration: underline;
}
.nav-item:hover {
  transform: scale(1.05);
  transition: 0.3s;
  font-weight: bold;
}
.hamburger {
  display: none;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 12.5px;
  right: 12.5px;
  z-index: 3;
}

.line {
  display: none;
  margin: 2px auto;
  height: 2px;
  background-color: #303841;
  transition: all 0.3s ease-in-out;
}

.line-active:last-child {
  transform: rotate(45deg);
}
.line-active:nth-child(2) {
  transform: rotate(-45deg);
  margin-bottom: -4px;
}

.line-active {
  background-color: #303841;
}

.main {
  display: flex;
  flex-direction: column;
}
.profile {
  display: flex;
  gap: 20px;
}
.profile-pic {
  width: 150px;
  height: 150px;
}
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-name {
  margin: 0;
}
.profile-pos {
  margin-bottom: 5px;
}
.profile-contact {
  margin: 5px 0;
}
.section-wrapper {
  display: flex;
}
.section-title {
  background-color: #303841;
  width: 150px;
  text-align: center;
  padding-top: 30px;
  flex-shrink: 0;
  font-weight: bold;
  color: #f5f5f5;
}
.section-content {
  border-top: 2px solid #303841;
  width: 100%;
  padding: 0 20px;
  max-width: 710px;
  text-align: justify;
  padding: 20px;
}
.about-content {
  padding-top: 12px;
}
.skills-list {
  padding-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.carousel_wrapper {
  margin-top: 0px;
  width: 500px;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  position: relative;
  width: 4500px;
  display: flex;
  transition: 1s;
}

.portfolio-page {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.button {
  cursor: pointer;
  text-decoration: none;
  width: 150px;
  height: 35px;
  background-color: #4c70ac;
  border: none;
  transition: 0.3s;
}
.button a {
  color: #f5f5f5;
}
.button:hover {
  background-color: #65b5fc;
}
/* .button:active {
  background-color: rgb(228, 199, 199);
} */
.item-name {
  margin-top: 0px;
  margin-bottom: 0;
}
.item-image {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#Store {
  background-image: url(./assets/portfolio/store.png);
}
#Zoo {
  background-image: url(./assets/portfolio/zoo.png);
}
#Puzzle {
  background-image: url(./assets/portfolio/puzzle.png);
}
#Birdsong {
  background-image: url(./assets/portfolio/birdsong.png);
}
#Shelter {
  background-image: url(./assets/portfolio/shelter.png);
}
#TicTac {
  background-image: url(./assets/portfolio/ttt.png);
}
#Portfolio {
  background-image: url(./assets/portfolio/portfolio.png);
}
#Quote {
  background-image: url(./assets/portfolio/quotes.png);
}
#Eco {
  background-image: url(./assets/portfolio/eco-sounds.png);
}

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  transition: 0.3s;
}
.portfolio_page-number {
  width: 35px;
  height: 35px;
  border: #303841 1px solid;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider {
  cursor: pointer;
  text-decoration: none;
  width: 100px;
  height: 35px;
  background-color: #9f7b4b;
  transition: 0.3s;
}
.active-btn {
  background: #e6b269;
}
.active-btn:hover {
  background-color: #ffd59a;
}

.social-list {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}
.social-icon {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-color: #c4c4c480;
}
.social-item {
  display: flex;
}
.social-item:hover a {
  transform: scale(1.05);
  transition: 0.5s;
  font-weight: bold;
}

.social-item:active a {
  color: #4b9200;
}
.social-item:hover .social-icon {
  transform: scale(1.05);
  transition: 0.5s;
}

.social-item:active .social-icon {
  background-color: #4b9200;
}
.social-link {
  color: #303841;
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.telegram {
  background: rgb(196 196 196 / 0%) url(./assets/icons/tg.svg) no-repeat center;
  background-size: contain;
}
.github {
  background: rgb(196 196 196 / 0%) url(./assets/icons/github.svg) no-repeat
    center;
  background-size: contain;
}

.discord {
  background: rgb(196 196 196 / 0%) url(./assets/icons/discord.svg) no-repeat
    center;
  background-size: contain;
}

.inst {
  background: rgb(196 196 196 / 0%) url(./assets/icons/inst.svg) no-repeat
    center;
  background-size: contain;
}

@media (max-width: 690px) {
  .header {
    height: 0;
  }
  .header-nav {
    margin: 0;
    max-width: 100%;
    transform: translateX(100%);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-left: 20px;
    padding-top: 20px;
    justify-content: flex-start;
  }
  .open {
    transform: translate(0%);
    transition: 0.3s;
  }
  .hamburger {
    display: block;
    transition: 0.3s;
  }
  .hamburger .line {
    display: block;
    transition: 0.3s;
  }
  .line-active:nth-child(1) {
    display: none;
  }
  h1 {
    padding-top: 10px;
    font-size: 1.5em;
  }
  .portfolio-page {
    width: 300px;
    height: 320px;
  }
  .carousel {
    width: 2700px;
    height: 320px;
  }
  .carousel_wrapper {
    width: 300px;
    height: 340px;
  }
  .pagination {
    width: 300px;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 0.75em;
  }
  .profile {
    gap: 5px;
  }
  .header-nav {
    font-size: 1.5em;
  }
  .section-wrapper {
    flex-direction: column;
  }
  .section-title {
    width: 100%;
    padding: 5px 0;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .section-content {
    padding: 0 10px;
    max-width: fit-content;
    border: none;
  }
  .section-wrapper {
    align-items: center;
  }
  .portfolio .section-content {
    padding: 0;
  }
}
